<%= flash[:alert] if flash[:alert] %>

<h1> Enter Username & Password to Log In: </h1>
<br><br><br>

<%= form_tag('/login') do %>
    Email: <%= text_field_tag :email %> <br><br>
    Password: <%= password_field_tag :password %> <br><br><br>

    <%= submit_tag 'Log In' %>
<% end %> 

<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>