<%= flash[:alert] if flash[:alert] %>

<h1> Enter Username & Password to Log In: </h1>
<br><br><br>

<%= form_tag('/login') do %>
    Email: <%= text_field_tag :email %> <br><br>
    Password: <%= password_field_tag :password %> <br><br><br>

    <%= submit_tag 'Log In' %>
<% end %> 