<% if @equipment.errors.full_messages.any? %>
  <% @equipment.errors.full_messages.each do |error| %>
    <%= error %> <br>
  <% end %>
<% end %>

<h1> Add Equipment: </h1><br><br>

<%= form_for @equipment do |e| %>
    Name: <%= e.text_field :name %><br><br>
    Category: <%= e.text_field :category %><br><br>

    Available: <%= e.check_box :available %><br><br>
    Cost: <%= e.number_field :cost %>/hr<br><br><br>
    
    <%= e.submit 'Add Equipment' %><br><br>
<% end %>



<%= link_to 'To All Equipment', equipment_index_path %><br>
<%= link_to 'Home', root_path %>