<h1>Name:    <%= @equipment.name %><br></h1>

<h3> Category:<%= @equipment.category %><br> </h3>

<h3> Cost:    <%= @equipment.cost %>/hr<br> </h3>

<h2> Available: <%= @equipment.available ? "Yes" : "No" %><br>

<br><br><br>

<% if @equipment.available %>
    <%= link_to 'Reserve Equipment', new_equipment_reservation_path(@equipment)%>
<% else %>
    Equipment Unavailable at this time.
<% end %>


<br><br>
<%= link_to 'Back to All Equipment', equipment_index_path %><br>

<%= link_to 'Edit Equipment', edit_equipment_path unless !current_user.admin? %>