<h1>Name:    <%= @equipment.name %><br></h1>

<h3> Category:<%= @equipment.category %><br> </h3>

<h3> Cost:    <%= number_to_currency(@equipment.cost) %>/hr<br> </h3>

<h3> Available: <%= @equipment.available ? "Yes" : "No" %><br> </h3>

<br><br><br>

<% if @equipment.available %>
<h4>    <%= link_to 'Reserve Equipment', new_equipment_reservation_path(@equipment)%></h4>
<% else %>
<h4>    Equipment Unavailable at this time.</h4>
<% end %>

<h4> <%= link_to 'Edit Equipment', edit_equipment_path unless !current_user.admin? %></h4><br>
<h4> <%= link_to 'Delete Equipment', equipment_path(@equipment), method: :delete, data: { confirm: "Delete #{@equipment.name}" } unless !current_user.admin? %></h4>
<br><br>
<h4> <%= link_to 'All Reservations for this Equipment', equipment_reservations_path(@equipment) %> </h4> <br><br>
<h4> <%= link_to 'Back to All Equipment', equipment_index_path %><br></h4>



