<div id="equipment-div">
</div>

<br><br>

<%# Shows equipment's reservations %>
<div id="equipment-reservations">
</div>
<br>
<button id="equipment-reservations-button" onclick="getEquipmentReservations()"> All Reservations for this Equipment </button> 
<a type="button" class="btn btn-info" onclick="getEquipmentReservations()">All Reservations for this Equipment</a>
<br><br>

<% if @equipment.available %>
<a type="button" class="btn btn-primary" href="<%=new_equipment_reservation_path(@equipment)%>">Reserve Equipment</a>
<% else %>
<h4>    Equipment Unavailable at this time.</h4>
<% end %>

<br><br><br><br>
<%# Need admin & confirmation %>

<%# <h4> <%= link_to 'Edit Equipment', edit_equipment_path unless !current_user.admin? %>
<a type="button" class="btn btn-warning"  href="<%=edit_equipment_path%>">Edit Equipment</a>
<%# <h4> <%= link_to 'Delete Equipment', equipment_path(@equipment), method: :delete, data: { confirm: "Delete #{@equipment.name}" } unless !current_user.admin? %>
<a type="button" class="btn btn-danger"  href="<%=equipment_path(@equipment)%>" data-method="delete"%>Delete Equipment</a>

<br><br>

<a type="button" class="btn btn-info" href="/equipment">Back to All Equipment</a>
<script>
getEquipment();
</script>

