<%= render partial: "layouts/error_messages", locals: {object: @user} %>

<h1>Create a New User: </h1><br>

<%= form_for(@user) do |u| %>

    <h4>Email: <%= u.text_field :email %><br><br><br> </h4>
    <h4>Name: <%= u.text_field :name %><br><br></h4>
    <h4>Password: <%= u.password_field :password %><br><br></h4>
    <h4>Confirm Password: <%= u.password_field :password_confirmation %> <br><br></h4>
    <br><br>

    <h4><%= u.submit 'Sign Up' %></h4>
<% end %>