

<h1> Welcome to Poseidon Rentals <%= @user.name %>! </h1>
<br><br><br>


<h3>Your Reservations: </h3>
<div id="user-reservations">

</div>
<br>

<button id="user-reservations" onclick="getReservations()"> Show Your Reservations </button> 
<br>
<a href="#" onclick="getReservations(); return false;"> Show The Reservations </a><br>

<% @sorted_reservations.each do |r|%>
<h4>    <%= link_to "#{reservation_date(r)}, #{reservation_start(r)} to #{reservation_end(r)}", reservation_path(r) %><br></h4>
<% end %>
<br><br>

<h4><%= link_to 'View Our Equipment', equipment_index_path %><br></h4>

<h4><%= link_to 'Add Equipment', new_equipment_path unless !current_user.admin? %><br></h4>

<h4><%= link_to 'All Reservations', reservations_path unless !current_user.admin? %><br></h4>

<%# Below: Button to render JS Create new Reservation %>
<h4><%= link_to 'Create A Reservation', new_reservation_path %><br><br><br></h4>

<div id="reservation-form">
    <p> Reservation form test </p>
</div>
 
<button id="reservation-form-button" onclick="displayReservationForm(); return false;"> Create a New Reservation </button>
<a href="#" onclick="displayReservationForm(); return false;"> Create A Reservation </a>
<h4><%= link_to 'Log Out', logout_path, method: :delete %></h4>

