

<h1> Welcome to Poseidon Rentals <%= @user.name %>! </h1>
<br><br><br>

<h3>Your Reservations:<br></h3>

<% @sorted_reservations.each do |r|%>
<h4>    <%= link_to "#{reservation_date(r)}, #{reservation_start(r)} to #{reservation_end(r)}", reservation_path(r) %><br></h4>
<% end %>
<br><br>

<h4><%= link_to 'View Our Equipment', equipment_index_path %><br></h4>

<h4><%= link_to 'Add Equipment', new_equipment_path unless !current_user.admin? %><br></h4>

<h4><%= link_to 'All Reservations', reservations_path unless !current_user.admin? %><br></h4>

<h4><%= link_to 'Create A Reservation', new_reservation_path %><br><br><br></h4>

<h4><%= link_to 'Log Out', logout_path, method: :delete %></h4>

