<%= form_for(reservation) do |r| %>

<div class="center">
<%= collection_select(:equipment, :id, Equipment.available, :id, :name_cost, {include_blank: 'Select from Available Equipment'}, { class: "btn btn-secondary dropdown-toggle"})%>
<br><br><br>
<div class="input-group mb-3 center">
 <span class="input-group-text" id="basic-addon3">Date:</span>
<%= r.date_field :date, { class: "btn btn-secondary"} %><br>
</div>
<div class="input-group mb-3 center">
 <span class="input-group-text" id="basic-addon3">Start Time:</span>
 <%= r.time_field :start_time, { class: "btn btn-secondary"} %><br>
</div>
<div class="input-group mb-3 center">
 <span class="input-group-text" id="basic-addon3">Return Time:</span>
 <%= r.time_field :end_time, { class: "btn btn-secondary"} %>
</div>

<br><br><br>
    <%= r.submit 'Submit', {class: "btn btn-primary"} %>
<% end %>

</div>