<h1> Your Reservation for <%= reservation_date(@reservation) %>: <br><br> </h1>

<h2> Equipment: <%= @equipment.name%> <br> </h2>
<h3> Cost: <%= equipment_currency(@equipment.cost) %> <br><br> </h3>


Pickup Time: <%= reservation_start(@reservation) %><br>
Return Time: <%= reservation_end(@reservation) %>
<br><br>

<%= link_to 'Edit Reservation', edit_reservation_path %>