<h1> Your Reservation for <%= reservation_date(@reservation) %>: <br><br> </h1>

<h2> Equipment: <%= @equipment.name%> <br> </h2>
<h3> Cost: <%= number_to_currency(@equipment.cost) %> <br><br> </h3>


Pickup Time: <%= reservation_start(@reservation) %><br>
Return Time: <%= reservation_end(@reservation) %>
<br><br><br>

<%# <%= link_to 'Delete Reservation', reservation_path(@reservation), method: :delete, data: { confirm: "Delete this Reservation?" } %> 


<br>
<a type="button" class="btn btn-warning"  href="<%=edit_reservation_path%>">Edit Reservation</a>
<br><br>
<a type="button" class="btn btn-danger"  href="<%=reservation_path(@reservation)%>" data-method="delete"%>Delete Reservation</a>
